nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white; /** justify-content: space-around;   align-items: center; */
  border-bottom: #d3d3d3;
  font-size: 18px;
}

.nav-links {
  width: 50%;
  display: flex;
  list-style: none; /** remove the dots, // align-items: center; display: flex; justify-content: space-around; */
}

.nav-link {
  color: white;
}

.specialCard {
  padding: 0;
}